<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<meta name="google-site-verification" content="VY9zXKAnkuHIsHGWLKHMNuZMIg0AMjhw3Mjzs8NgdG8" />
</head>
<body>
	<h1>{{ title }}</h1>
	<main>{{ content | safe }}</main>
</body>
</html>